<div id="<%= dom_id trip %>">
  <p>
    <strong><%= t('app.trip.establishment_id') %>:</strong>
    <%= trip.establishment.name %>
  </p>

  <p>
    <strong><%= t('app.trip.guide_id') %>:</strong>
    <%= trip.guide.name %>
  </p>

  <p>
    <strong><%= t('app.trip.checkin_date') %>:</strong>
    <%= trip.checkin_date %>
  </p>

  <p>
    <strong><%= t('app.trip.checkin_time') %>:</strong>
    <%= trip.checkin_time %>
  </p>

  <p>
    <strong><%= t('app.trip.checkout_date') %>:</strong>
    <%= trip.checkout_date %>
  </p>

  <p>
    <strong><%= t('app.trip.checkout_time') %>:</strong>
    <%= trip.checkout_time %>
  </p>

  <p>
    <strong><%= t('app.trip.extra_coffee') %>:</strong>
    <%= trip.extra_coffee %>
  </p>

  <p>
    <strong><%= t('app.trip.num_people') %>:</strong>
    <%= trip.num_people %>
  </p>

  <p>
    <strong><%= t('app.trip.num_drivers') %>:</strong>
    <%= trip.num_drivers %>
  </p>

  <p>
    <strong><%= t('app.trip.free_driver') %>:</strong>
    <%= trip.free_driver %>
  </p>

  <p>
    <strong><%= t('app.trip.num_guides') %>:</strong>
    <%= trip.num_guides %>
  </p>

  <p>
    <strong><%= t('app.trip.free_guide') %>:</strong>
    <%= trip.free_guide %>
  </p>

  <p>
    <strong><%= t('app.trip.num_rooms') %>:</strong>
    <%= trip.num_rooms %>
  </p>

  <p>
    <strong><%= t('app.trip.rate_person_day') %>:</strong>
    <%= trip.rate_person_day %>
  </p>

  <p>
    <strong><%= t('app.trip.signal_value') %>:</strong>
    <%= trip.signal_value %>
  </p>

  <p>
    <strong><%= t('app.trip.signal_date') %>:</strong>
    <%= trip.signal_date %>
  </p>

  <p>
    <strong><%= t('app.trip.notes') %>:</strong>
    <%= trip.notes %>
  </p>

  <p>
    <strong><%= t('app.trip.confirmed') %>:</strong>
    <%= trip.confirmed %>
  </p>

  <p>
    <strong><%= t('app.trip.accomplished') %>:</strong>
    <%= trip.accomplished %>
  </p>

  <p>
    <strong><%= t('app.trip.suspended') %>:</strong>
    <%= trip.suspended %>
  </p>

</div>
