<div id="<%= dom_id trip %>">
  <p>
    <strong>Establishment:</strong>
    <%= trip.establishment.name %>
  </p>

  <p>
    <strong>Guide:</strong>
    <%= trip.guide.name %>
  </p>

  <p>
    <strong>Checkin date:</strong>
    <%= trip.checkin_date %>
  </p>

  <p>
    <strong>Checkin time:</strong>
    <%= trip.checkin_time %>
  </p>

  <p>
    <strong>Checkout date:</strong>
    <%= trip.checkout_date %>
  </p>

  <p>
    <strong>Checkout time:</strong>
    <%= trip.checkout_time %>
  </p>

  <p>
    <strong>Extra coffee:</strong>
    <%= trip.extra_coffee %>
  </p>

  <p>
    <strong>Num people:</strong>
    <%= trip.num_people %>
  </p>

  <p>
    <strong>Num drivers:</strong>
    <%= trip.num_drivers %>
  </p>

  <p>
    <strong>Free driver:</strong>
    <%= trip.free_driver %>
  </p>

  <p>
    <strong>Num guides:</strong>
    <%= trip.num_guides %>
  </p>

  <p>
    <strong>Free guide:</strong>
    <%= trip.free_guide %>
  </p>

  <p>
    <strong>Num rooms:</strong>
    <%= trip.num_rooms %>
  </p>

  <p>
    <strong>Rate person day:</strong>
    <%= trip.rate_person_day %>
  </p>

  <p>
    <strong>Signal value:</strong>
    <%= trip.signal_value %>
  </p>

  <p>
    <strong>Signal date:</strong>
    <%= trip.signal_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= trip.notes %>
  </p>

  <p>
    <strong>Confirmed:</strong>
    <%= trip.confirmed %>
  </p>

  <p>
    <strong>Accomplished:</strong>
    <%= trip.accomplished %>
  </p>

  <p>
    <strong>Suspended:</strong>
    <%= trip.suspended %>
  </p>

</div>
