<p style="color: green"><%= notice %></p>

<h1><%= t('app.trip_index.title') %></h1>

<div id="trips">
  <% @trips.each do |trip| %>
    <p><%= t('app.trip.checkin_date') %>: <%= trip.checkin_date %></p>
    <p>
      <%= link_to t('app.trip_index.show'), trip %>
    </p>
  <% end %>
</div>

<div>
  <% if user_signed_in? && current_user %>
    <%= link_to t('app.trip_index.new'), new_trip_path %>
  <% end %>
  <%= link_to 'home', root_path  %>
</div>
