<section class="section is-main-section" xmlns="http://www.w3.org/1999/html">

  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi mdi-warehouse"></i></span>
        <h1>Estrutura</h1>
      </div>
    </header>

    <div class="card-content">

      <div class="field is-horizontal">
        <div class="field-label is-horizontal">
          <label class="label">Título:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <%= text_field_tag :name, @structure.title, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-horizontal">
          <label class="label">Descrição:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <%= text_field_tag :name, @structure.description, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" disabled>
        <div class="field-label is-normal" disabled>
          <label class="label" disabled><%="Fotos da Estrutura:" %></label>
        </div>
        <div class="field-body" disabled>
          <div class="box" disabled>
            <div class="columns is-mobile">
              <% @structure.images.each do |image| %>
                <div class="column">
                  <%= image_tag image, class: 'image-size image is-96-96' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <%= link_to 'Editar', edit_structure_url, class:"button is-warning" %>
  </div>
</section>
