<section class="section is-main-section is-justify-content-center">
  <div class="card has-table has-mobile-sort-spaced">
    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi-account-key"></i></span>
        <h1>Cadastrar</h1>
      </div>
      <a href="#" class="card-header-icon">
        <span class="icon"><i class="mdi mdi-reload"></i></span>
      </a>
    </header>
    <div class="card-header-title is-centered is-relative" style="height: 60vh;">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-success" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password", class: "input is-success" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-success" %>
        </div>

        <div class="actions">
          <%= f.submit "Cadastrar", class: "button is-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</section>


