<h1>Fácil Fácil Hospedagem</h1>
<%= link_to t('app.hotelier_index.title'), hoteliers_url %>
<%= link_to t('app.index.title'), establishments_url %>
<%= link_to t('app.guide_index.title'), guides_url %>

<% if user_signed_in? && current_user %>
  <%= link_to t('devise.registrations.edit_title'), edit_user_registration_path %>
  <%= button_to t('devise.registrations.log_out'), destroy_user_session_url, method: :delete %>

<% else %>
  <%= link_to t('devise.registrations.new_title'), new_user_registration_path %>
  <%= link_to t('devise.registrations.log_in'), user_session_url %>

<% end %>
