<h1>Fácil Fácil Hospedagem</h1>
<%= link_to 'Hoteliers', hoteliers_url %> <strong>|</strong>
<%= link_to 'Establishments', establishments_url %> <strong>|</strong>
<%= link_to 'Guides', guides_url %> <strong>|</strong>
<%= link_to 'Rooms', rooms_url %>
<%= link_to 'trips', trips_url %>

<% if user_signed_in? && current_user %>
  <strong>|</strong>
  <%= link_to 'Edit user', edit_user_registration_path %>
  <%= button_to 'Logout', destroy_user_session_url, method: :delete %>
<% else %>
  <strong>|</strong>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Login', user_session_url %>
<% end %>
