<%= form_with(model: hotelier) do |form| %>
  <% if hotelier.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hotelier.errors.count, "error") %> prohibited this hotelier from being saved:</h2>

      <ul>
        <% hotelier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, t('app.hotelier.name'), style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :cpf, t('app.hotelier.cpf'), style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :phone_number, t('app.hotelier.phone_number'),style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :plan, t('app.hotelier.plan'), style: "display: block" %>
    <%= form.text_field :plan %>
  </div>

  <div>
    <%= form.fields_for :address do |address_fields| %>
      <div>
        <%= address_fields.label :street, t('app.address.street') %>
        <%= address_fields.text_field :street %>
      </div>
      <div>
        <%= address_fields.label :postal_code, t('app.address.postal_code') %>
        <%= address_fields.text_field :postal_code %>
      </div>
      <div>
        <%= address_fields.label :city, t('app.address.city') %>
        <%= address_fields.text_field :city %>
      </div>
      <div>
        <%= address_fields.label :state, t('app.address.state') %>
        <%= address_fields.text_field :state %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.submit(@hotelier.new_record? ? t('app.hotelier_form.create') : t('app.hotelier_form.update')) %>
  </div>
<% end %>
