<div id="<%= dom_id hotelier %>">
  <p>
    <strong>Name:</strong>
    <%= hotelier.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= hotelier.cpf %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= hotelier.phone_number %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= hotelier.plan %>
  </p>

</div>
