<div id="<%= dom_id hotelier %>">
  <p>
    <strong>Nome:</strong>
    <%= hotelier.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= hotelier.cpf %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= hotelier.phone_number %>
  </p>

  <p>
    <strong>Plano:</strong>
    <%= hotelier.plan %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= hotelier.address.street %>
  </p>

  <p>
    <strong>CEP:</strong>
    <%= hotelier.address.postal_code %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= hotelier.address.city %>
  </p>

  <p>
    <strong>UF:</strong>
    <%= hotelier.address.state %>
  </p>

</div>
