<div id="<%= dom_id hotelier %>">
  <p>
    <strong><%= t('app.hotelier.name') %>:</strong>
    <%= hotelier.name %>
  </p>

  <p>
    <strong><%= t('app.hotelier.cpf') %>:</strong>
    <%= hotelier.cpf %>
  </p>

  <p>
    <strong><%= t('app.hotelier.phone_number') %>:</strong>
    <%= hotelier.phone_number %>
  </p>

  <p>
    <strong><%= t('app.hotelier.plan') %>:</strong>
    <%= hotelier.plan %>
  </p>

  <p>
    <strong><%= t('app.hotelier.address_street') %>:</strong>
    <%= hotelier.address.street %>
  </p>

  <p>
    <strong><%= t('app.hotelier.address_postal_code') %>:</strong>
    <%= hotelier.address.postal_code %>
  </p>

  <p>
    <strong><%= t('app.hotelier.address_city') %>:</strong>
    <%= hotelier.address.city %>
  </p>

  <p>
    <strong><%= t('app.hotelier.address_state') %>:</strong>
    <%= hotelier.address.state %>
  </p>
</div>
