<p style="color: green"><%= notice %></p>

<h1><%= t 'app.index.title' %></h1>

<div id="hoteliers">
  <% @hoteliers.each do |hotelier| %>
    <p><%= t 'app.index.name' %>: <%= hotelier.name %></p>

    <p>
      <%= link_to t('app.index.show'), hotelier %>
    </p>
  <% end %>
</div>

<%= link_to t('app.index.new'), new_hotelier_path %>
