<div class="card has-table has-mobile-sort-spaced">
  <header class="card-header">
    <div class="card-header-title">
      <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
      <h1><%= t 'app.hotelier_index.title' %></h1>
    </div>
    <a href="#" class="card-header-icon">
      <span class="icon"><i class="mdi mdi-reload"></i></span>
    </a>
  </header>

  <div class="buttons is-right">
    <div>
      <%= link_to t('app.hotelier_index.new'), new_hotelier_path, class: "button is-primary", type: "button" %>
      <span class="icon"><i class=""></i></span>
    </div>
  </div>

  <div class="card-content">
    <div id="hoteliers">
      <div class="b-table has-pagination">
        <div class="table-wrapper has-mobile-cards">
          <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
            <thead>
            <tr>
              <th></th>
              <th>Hoteleiro</th>
              <th>Telefone</th>
              <th>Estado</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @hoteliers.each do |hotelier| %>
              <tr>
                <td class="is-image-cell">
                  <div class="image">
                    <img src="https://avatars.dicebear.com/v2/initials/rebecca-bauch.svg" class="is-rounded">
                  </div>
                </td>
                <td data-label="Name"><%= hotelier.name %></td>
                <td data-label="Company"><%= hotelier.phone_number %></td>
                <td data-label="City"><%= hotelier.address&.state %></td>
                <td class="is-actions-cell">
                  <div class="buttons is-right">
                    <button class="button is-small is-primary" type="button">
                      <%= link_to t('app.hotelier_index.show'), hotelier %>
                      <span class="icon"><i class="mdi mdi-eye"></i></span>
                    </button>
                    <button class="button is-small is-primary" type="button">
                      <%= link_to t('app.hotelier_edit.title'), edit_hotelier_path(hotelier) %>
                      <span class="icon"><i class="mdi mdi-pencil"></i></span>
                    </button>
                    <div type="button" data-target="sample-modal">
                      <%= button_to t('app.show.delete'), hotelier, method: :delete,
                                    form: { data: { turbo_confirm: t('app.controller.notice_delete') } },
                                    class: "button is-small is-danger jb-modal" %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

