<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span class="mdi mdi-account-tie"></span>
        <h1><%= @hotelier.name %></h1>
      </div>
    </header>
    <div class="card-content">
      <div class="field is-horizontal">
        <div class="field-label">
          <div class="card-content">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label"><%= t('app.hotelier.name') %></label>
              </div>
              <div class="field-body">
                <div class="field">
                  <%= text_field_tag :name, @hotelier.name, class: "input", type: "text", disabled: true %>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label"><%= t 'app.hotelier.cpf' %></label>
              </div>
              <div class="field-body">
                <div class="field">
                  <%= text_field_tag :cpf, @hotelier.cpf, class: "input", type: "text", disabled: true %>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label"><%= t 'app.hotelier.phone_number' %></label>
              </div>
              <div class="field-body">
                <div class="field is-expanded">
                  <div class="field has-addons">
                    <div class="control">
                      <div class="button is-static">
                        +55
                      </div>
                    </div>
                    <div class="control is-expanded">
                      <%= text_field_tag :phone_number, @hotelier.phone_number, class: "input", type: "text", disabled: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label"><%= t 'app.hotelier.plan' %></label>
              </div>
              <div class="field-body">
                <div class="field">
                  <%= text_field_tag :plan, @hotelier.plan, class: "input", type: "text", disabled: true %>
                </div>
              </div>
            </div>

            <div>
              <hr>
            </div>

            <div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <strong>Endereço:</strong>
                </div>
                <div class="field-body">
                </div>
              </div>

            <%= form_for @hotelier do |form| %>
              <%= form.fields_for :address do |address_fields| %>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label"><%= t('app.address.street') %></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <%= address_fields.text_field :street, class: "input", type: "text", disabled: true %>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label"><%= t('app.address.postal_code') %></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <%= address_fields.text_field :postal_code, class: "input", type: "text", disabled: true %>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label"><%= t('app.address.city') %></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <%= address_fields.text_field :city, class: "input", type: "text", disabled: true %>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label"><%= t('app.address.state') %></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <%= address_fields.text_field :state, class: "input", type: "text", disabled: true %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <button class="button is-small is-warning has-text-white" type="button">
        <%= link_to t('app.hotelier_edit.title'), edit_hotelier_path(@hotelier) %>
        <span class="icon is-small"><i class="mdi mdi-pencil"></i></span>
      </button>
    </div>
  </div>
</section>