<p style="color: green"><%= notice %></p>

<%= render @hotelier %>

<div>
  <%= link_to t('app.show.edit'), edit_hotelier_path(@hotelier) %> |
  <%= link_to t('app.show.back'), hoteliers_path %>

  <%= button_to t('app.show.delete'), @hotelier, method: :delete %>
</div>
