<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        <h1><%= @room.name %></h1>
      </div>
    </header>

    <div class="card-content">

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"><%= t('app.room.name') %></label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <%= text_field_tag :name, @room.name, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"><%= t('app.room.description') %></label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <%= text_field_tag :description, @room.description, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"><%= t('app.room.reference') %></label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <%= text_field_tag :reference, @room.reference, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"><%= t('app.room.maximum_capacity') %></label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <%= text_field_tag :maximum_capacity, @room.maximum_capacity, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"><%= t('app.room.status') %></label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <% status_room = t('app.room.active') if @room.status == 'A' %>
              <% status_room = t('app.room.inactive') if @room.status == 'I' %>
              <% status_room = t('app.room.under_maintenance') if @room.status == 'M' %>
              <%= text_field_tag :status, status_room, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" disabled>
        <div class="field-label is-normal" disabled>
          <label class="label" disabled><%= "Sobre a Acomodação" %></label>
        </div>

        <div class="field-body" disabled>
          <div class="box" disabled>


            <div class="field" disabled>
              <div class="field is-grouped-multiline is-grouped" disabled>
                <div class="control" disabled>
                  <label class="b-checkbox checkbox" disabled>
                    <%= check_box_tag :is_double, disabled: true %>
                    <span class="check is-primary" disabled></span>
                    <span class="control-label is-disabled" disabled>
                    <%= label_tag :is_double, t('app.room.is_double'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
                <div class="control">
                  <label class="b-checkbox checkbox">
                    <%= check_box_tag :is_triple %>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_triple, t('app.room.is_triple'), style: "display: block" %>
                  </span>
                  </label>
                </div>
              </div>
            </div>



          </div>
        </div>

      </div>


    </div>
  </div>
</section>
