<section class="section is-main-section">
  <div class="card">
    <div id="<%= dom_id room %>">
      <p>
        <strong> <%= t('app.room.name') %>: </strong>
        <%= room.name %>
      </p>

      <p>
        <strong> <%= t('app.room.description') %>: </strong>
        <%= room.description %>
      </p>

      <p>
        <strong> <%= t('app.room.reference') %>: </strong>
        <%= room.reference %>
      </p>

      <p>
        <strong> <%= t('app.room.maximum_capacity') %>: </strong>
        <%= room.maximum_capacity %>
      </p>

      <p>
        <strong> <%= t('app.room.status') %>: </strong>
        <% if room.status == 'A' %>
          <%= t('app.room.active') %>
        <% elsif room.status == 'I' %>
          <%= t('app.room.inactive') %>
        <% else %>
          <%= t('app.room.unnder_maintenance') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_double') %>: </strong>
        <% if room.is_double %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_triple') %>: </strong>
        <% if room.is_triple %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_quadruple') %>: </strong>
        <% if room.is_quadruple %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_quintuple') %>: </strong>
        <% if room.is_quintuple %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_sextuple') %>: </strong>
        <% if room.is_sextuple %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_single') %>: </strong>
        <% if room.is_single %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_couple') %>: </strong>
        <% if room.is_couple %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_couple_plus_one') %>: </strong>
        <% if room.is_couple_plus_one %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_couple_plus_two') %>: </strong>
        <% if room.is_couple_plus_two %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_couple_plus_three') %>: </strong>
        <% if room.is_couple_plus_three %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_couple_plus_four') %>: </strong>
        <% if room.is_couple_plus_four %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_two_couples') %>: </strong>
        <% if room.is_two_couples %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_two_couples_plus_one') %>: </strong>
        <% if room.is_two_couples_plus_one %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_two_couples_plus_two') %>: </strong>
        <% if room.is_two_couples_plus_two %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>

      <p>
        <strong> <%= t('app.room.is_three_couples') %>: </strong>
        <% if room.is_three_couples %>
          <%= t('app.room.yes_is') %>
        <% else %>
          <%= t('app.room.no_is') %>
        <% end %>
      </p>


      <% room.images.each do |image| %>
        <%= image_tag image, class: 'image-size' %>
      <% end %>

    </div>
  </div>
</section>

