<section class="section is-main-section">
  <div class="card">
    <div id="<%= dom_id room %>">
      <p>
        <strong><%= t('app.room.name') %>:</strong>
        <%= room.name %>
      </p>

      <p>
        <strong><%= t('app.room.description') %>:</strong>
        <%= room.description %>
      </p>

      <p>
        <strong><%= t('app.room.reference') %>:</strong>
        <%= room.reference %>
      </p>

      <p>
        <strong><%= t('app.room.maximum_capacity') %>:</strong>
        <%= room.maximum_capacity %>
      </p>

      <p>
        <strong><%= t('app.room.status') %>:</strong>
        <%= room.status %>
      </p>

      <p>
        <strong><%= t('app.room.is_double') %>:</strong>
        <%= room.is_double %>
      </p>

      <p>
        <strong><%= t('app.room.is_triple') %>:</strong>
        <%= room.is_triple %>
      </p>

      <p>
        <strong><%= t('app.room.is_quadruple') %>:</strong>
        <%= room.is_quadruple %>
      </p>

      <p>
        <strong><%= t('app.room.is_quintuple') %>:</strong>
        <%= room.is_quintuple %>
      </p>

      <p>
        <strong><%= t('app.room.is_sextuple') %>:</strong>
        <%= room.is_sextuple %>
      </p>

      <p>
        <strong><%= t('app.room.is_single') %>:</strong>
        <%= room.is_single %>
      </p>

      <p>
        <strong><%= t('app.room.is_couple') %>:</strong>
        <%= room.is_couple %>
      </p>

      <p>
        <strong><%= t('app.room.is_two_couples') %>:</strong>
        <%= room.is_two_couples %>
      </p>

      <p>
        <strong><%= t('app.room.is_three_couples') %>:</strong>
        <%= room.is_three_couples %>
      </p>

      <p>
        <strong><%= t('app.room.is_couple_plus_one') %>:</strong>
        <%= room.is_couple_plus_one %>
      </p>

      <p>
        <strong><%= t('app.room.is_couple_plus_two') %>:</strong>
        <%= room.is_couple_plus_two %>
      </p>

      <p>
        <strong><%= t('app.room.is_couple_plus_three') %>:</strong>
        <%= room.is_couple_plus_three %>
      </p>

      <p>
        <strong><%= t('app.room.is_couple_plus_four') %>:</strong>
        <%= room.is_couple_plus_four %>
      </p>

      <p>
        <strong><%= t('app.room.is_two_couples_plus_one') %>:</strong>
        <%= room.is_two_couples_plus_one %>
      </p>

      <p>
        <strong><%= t('app.room.is_two_couples_plus_two') %>:</strong>
        <%= room.is_two_couples_plus_two %>
      </p>

      <p>
        <strong><%= t('app.room.images') %>:</strong>
        <%= room.images %>
      </p>

    </div>
  </div>
</section>