<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room.description %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= room.reference %>
  </p>

  <p>
    <strong>Maximum capacity:</strong>
    <%= room.maximum_capacity %>
  </p>

  <p>
    <strong>Status:</strong>
    <% if room.status == 'A' %>
      <%= 'ACTIVE' %>
    <% elsif room.status == 'I' %>
      <%= 'INACTIVE' %>
    <% else %>    
      <%= 'UNDER MAINTENANCE' %>    
    <% end %>
  </p>

  <p>
    <strong>Is double:</strong>
    <%= room.is_double %>
  </p>

  <p>
    <strong>Is triple:</strong>
    <%= room.is_triple %>
  </p>

  <p>
    <strong>Is quadruple:</strong>
    <%= room.is_quadruple %>
  </p>

  <p>
    <strong>Is quintuple:</strong>
    <%= room.is_quintuple %>
  </p>

  <p>
    <strong>Is sextuple:</strong>
    <%= room.is_sextuple %>
  </p>

  <p>
    <strong>Is single:</strong>
    <%= room.is_single %>
  </p>

  <p>
    <strong>Is couple:</strong>
    <%= room.is_couple %>
  </p>

  <p>
    <strong>Is couple plus one:</strong>
    <%= room.is_couple_plus_one %>
  </p>

  <p>
    <strong>Is couple plus two:</strong>
    <%= room.is_couple_plus_two %>
  </p>

  <p>
    <strong>Is couple plus three:</strong>
    <%= room.is_couple_plus_three %>
  </p>

  <p>
    <strong>Is couple plus four:</strong>
    <%= room.is_couple_plus_four %>
  </p>

  <p>
    <strong>Is two couples:</strong>
    <%= room.is_two_couples %>
  </p>

  <p>
    <strong>Is two couples plus one:</strong>
    <%= room.is_two_couples_plus_one %>
  </p>

  <p>
    <strong>Is two couples plus two:</strong>
    <%= room.is_two_couples_plus_two %>
  </p>

  <p>
    <strong>Is three couples:</strong>
    <%= room.is_three_couples %>
  </p>

  <% room.images.each do |image| %>
    <%= image_tag image %>
  <% end %>

</div>
