
<div id="rooms">
  <% @rooms.each do |room| %>
    <p><%= room.name %></p>
    <p><%= link_to t('app.room_index.show'), room %></p>
  <% end %>
</div>

<div>
  <% if user_signed_in? && current_user %>
    <%= link_to t('app.room_index.new'), new_room_path %>
    <strong> | </strong>
  <% end %>
  <%= link_to t('home.home'), root_path %>
</div>

<div class="card has-table has-mobile-sort-spaced">
  <header class="card-header">
    <div class="card-header-title">
      <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
      <h1><%= t('app.room_index.title') %></h1>
    </div>
    <a href="#" class="card-header-icon">
      <span class="icon"><i class="mdi mdi-reload"></i></span>
    </a>
  </header>

  <div class="card-content">
    <div id="rooms">
      <% @rooms.each do |room| %>

      <% end %>
    </div>
  </div>



</div>
