<p style="color: green"><%= notice %></p>

<%= render @room %>

<div>
  <%= link_to t('app.room_show.edit_this_room'), edit_room_path(@room) %> |
  <%= link_to t('app.room_show.back_to_rooms'), rooms_path %>

  <%= button_to t('app.room_show.destroy_this_room'), @room, method: :delete %>
</div>
