<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi-home-account"></i></span>
        <h1> <%= t('app.room_index.title') %> </h1>
      </div>
    </header>

    <div class="card-content">

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"><%= t('app.room.name') %></label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <%= text_field_tag :name, @room.name, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"><%= t('app.room.description') %></label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <%= text_field_tag :description, @room.description, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"><%= t('app.room.reference') %></label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <%= text_field_tag :reference, @room.reference, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"><%= t('app.room.maximum_capacity') %></label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <%= text_field_tag :maximum_capacity, @room.maximum_capacity, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"><%= t('app.room.status') %></label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <% status_room = t('app.room.active') if @room.status == 'A' %>
              <% status_room = t('app.room.inactive') if @room.status == 'I' %>
              <% status_room = t('app.room.under_maintenance') if @room.status == 'M' %>
              <%= text_field_tag :status, status_room, class: "input", type: "text", disabled: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" disabled="true">
        <div class="field-label is-normal" disabled="true">
          <label class="label" disabled="true"><%= "Sobre a Acomodação" %></label>
        </div>

        <div class="field-body">
          <div class="box">
            <div class="field is-disabled">
              <div class="field is-grouped-multiline is-grouped">
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_double %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                      <%= label_tag :is_double, t('app.room.is_double'), style: "display: block", disabled: true %>
                    </span>
                  </label>
                </div>
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_triple %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_triple, t('app.room.is_triple'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_quadruple %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_quadruple, t('app.room.is_quadruple'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_quintuple %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_quintuple, t('app.room.is_quintuple'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_sextuple %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_sextuple, t('app.room.is_sextuple'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" disabled>
        <div class="field-label is-normal" disabled>
          <label class="label" disabled><%= "Simples / Casal" %></label>
        </div>
        <div class="field-body">
          <div class="box">
            <div class="field is-disabled">
              <div class="field is-grouped-multiline is-grouped">
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_single %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_single, t('app.room.is_single'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_couple %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_couple, t('app.room.is_couple'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_two_couples %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_two_couples, t('app.room.is_two_couples'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_three_couples %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_three_couples, t('app.room.is_three_couples'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" disabled>
        <div class="field-label is-normal" disabled>
          <label class="label" disabled><%= "Casal (Opções)" %></label>
        </div>
        <div class="field-body">
          <div class="box">
            <div class="field is-disabled">
              <div class="field is-grouped-multiline is-grouped">
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_couple_plus_one %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_couple_plus_one, t('app.room.is_couple_plus_one'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_couple_plus_two %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_couple_plus_two, t('app.room.is_couple_plus_two'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_couple_plus_three %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_couple_plus_three, t('app.room.is_couple_plus_three'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_couple_plus_four %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_couple_plus_four, t('app.room.is_couple_plus_four'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" disabled>
        <div class="field-label is-normal" disabled>
          <label class="label" disabled><%= "Dois Casais (Opções)" %></label>
        </div>
        <div class="field-body">
          <div class="box">
            <div class="field is-disabled">
              <div class="field is-grouped-multiline is-grouped">

                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_two_couples_plus_one %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_two_couples_plus_one, t('app.room.is_two_couples_plus_one'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>

                <div class="control">
                  <label class="b-checkbox checkbox" disabled="true">
                    <input type="checkbox" <%= "checked" if @room.is_two_couples_plus_two %> disabled>
                    <span class="check is-primary"></span>
                    <span class="control-label">
                    <%= label_tag :is_two_couples_plus_two, t('app.room.is_two_couples_plus_two'), style: "display: block", disabled: true %>
                  </span>
                  </label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="field is-horizontal" disabled>
        <div class="field-label is-normal" disabled>
          <label class="label" disabled><%= "Fotos do Quarto:" %></label>
        </div>
        <div class="field-body" disabled>
          <div class="box" disabled>

            <div class="columns is-mobile">
              <% @room.images.each do |img| %>
                <div class="column">
                  <%= image_tag img, class: 'image-size image is-128x128' %>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= link_to t('app.room_show.edit'), edit_room_path(@room), class:"button is-warning", type:"button" %>
    <%= link_to t('app.room_edit.back'), rooms_path, class:"button is-info has-text-white", type:"button" %>
  </div>

</section>
