<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
    </header>
    <div class="card-content">
      <%= form_with(model: photo, multipart: true) do |form| %>


        <% if photo.errors.any? %>
          <div class="notification is-danger">
            <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
            <ul>
              <% photo.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= form.label "Tìtulo", class: "label" %>
          <div class="control">
            <%= form.text_field :title, class: "input", placeholder: "Escreva o título da estrutura" %>
          </div>
          <% if photo.errors[:title].any? %>
            <p class="help is-danger">Esse campo é obrigatório</p>
          <% end %>
        </div>
        <hr>
        <div class="field">
          <%= form.label "Imagens", class: "label", style: "display: block" %>
          <div class="control">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <div class="field file">
                    <label class="upload control">
                      <a class="button is-primary">
                        <span class="icon"><i class="mdi mdi-upload"></i></span>
                        <span><%= form.file_field :images, class: "button is-primary is-outlined", multiple: true %>Imagens</span>
                      </a>
                      <input type="file">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="field is-grouped">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Descrição</label>
            </div>
          </div>
        </div>
        <div class="field">
          <%= form.text_area :description, class:"textarea", placeholder:"Descrição da estrutura...", rows:"10", type: "text" %>
        </div>
        <div class="buttons is-left">
          <div class="field">
            <div class="field is-grouped">
              <div class="control">
                <%= form.submit "Salvar", class: "button is-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>