<div id="<%= dom_id photo %>">
  <p>
    <strong><%= t('app.photo_new.title') %></strong>
    <%= photo.title %>
  </p>

  <p>
    <strong><%='description'%></strong>
    <%= photo.description %>
  </p>

</div>
