<div id="<%= dom_id photo %>">
    <p>
      <strong><%= t'app.photo.name' %></strong>
      <%= photo.title %>
    </p>

    <p>
      <strong><%= t'app.photo.description' %></strong>
      <%= photo.description %>
    </p>
</div>