<div id="<%= dom_id photo %>">
  <p>
    <strong><%= 'Nova Estrutura' %></strong>
    <%= photo.title %>
  </p>

  <p>
    <strong><%='Descrição'%></strong>
    <%= photo.description %>
  </p>

</div>
