<section class="section is-main-section">
  <div class="card has-table has-mobile-sort-spaced">
    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi-home"></i></span>
        <h1>Estrutura</h1>
      </div>
    </header>
    <div class="buttons is-right">
      <div>
        <%= link_to 'Nova Estrutura', new_photo_path, class: "button is-primary", type: "button" %>
        <span class="icon"><i class=""> </i></span>
      </div>
    </div>

    <div class="card-content">
      <div id="photo">
        <div class="b-table has-pagination">
          <div class="table-wrapper has-mobile-cards">
            <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
              <thead>
              <tr>
                <th></th>
                <th>Estrutura</th>
                <th>Descrição Curta</th>
              </tr>
              </thead>
              <tbody>
              <% @photos.each do |photo| %>
                <tr>
                  <!--<td class="is-image-cell">
                    <div class="image">
                      <img src="https://avatars.dicebear.com/v2/initials/rebecca-bauch.svg" class="is-rounded">
                    </div>
                  </td>-->

                  <td data-label="Title"><%= photo.title %></td>
                  <td data-label="Describe"><%= photo.description %></td>

                  <td class="is-actions-cell">
                    <div class="buttons is-right">
                      <%= link_to 'Mostar Estrutura', photo_path(photo), class: "button is-primary mdi mdi-eye", type: "button" %>
                      <%= link_to 'Editar Estrutura', edit_photo_path(photo), class: "button is-warning mdi mdi-pencil", type: "button" %>
                      <div type="button" data-target="sample-modal">
                        <%= button_to 'Deletar Estrutura', photo, method: :delete,
                                      form: { data: { turbo_confirm: t('app.controller.notice_delete') } },
                                      class: "button is-danger jb-modal mdi mdi-trash-can-outline" %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>