<h1><%= t('app.photo_index.title') %></h1>

<div id="photos">
  <% @photos.each do |photo| %>
    <%= render photo %>
    <p>
      <%= link_to t('app.photo_index.show'), photo %>
    </p>
  <% end %>
</div>

<div>
  <% if user_signed_in? && current_user %>
    <%= link_to t('app.photo_index.new'), new_photo_path %>
  <% end %>
  <%=  link_to t('home.home'), root_path  %>
</div>

