<p>
  <%= render @photo %>
</p>

<div class="field">
  <% @photo.images.each do |image| %>
    <%= image_tag image, class: 'image-size' %>
  <% end %>

</div>

<div>
  <%= link_to t('app.structure_new.back'), photos_path %>
  <% if user_signed_in? && current_user %>
    <%= link_to t('app.structure_edit.edit'), edit_photo_path(@photo) %> |
    <%= button_to t('app.structure_show.delete'), @photo, method: :delete,
                form: { data: { turbo_confirm: 'Are you sure?' } } %>
  <% end %>
</div>
