<p><%= t'devise.mailer.email_changed.hello' %> <%= @resource.email %>!</p>

<p><%= t'devise.mailer.reset_password_instructions.requested' %></p>

<p><%= link_to t('devise.mailer.password_change.subject'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t'devise.mailer.reset_password_instructions.request' %></p>
<p><%= t'devise.mailer.reset_password_instructions.new_one' %></p>
