<div id="<%= dom_id guium %>">
  <p>
    <strong>Nome do guia:</strong>
    <%= guium.Nome_do_guia %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= guium.Telefone %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= guium.CPF %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= guium.CNPJ %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= guium.Cidade %>
  </p>

  <p>
    <strong>Us:</strong>
    <%= guium.US %>
  </p>

</div>
