<%= form_with(model: guide) do |form| %>
  <% if guide.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
        <% guide.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t'app.guide.guide', style: "display: block" %>
    <%= form.text_field :guide %>
  </div>

  <div>
    <%= form.label t'app.guide.phone', style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label t'app.guide.cpf', style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label t'app.guide.company', style: "display: block" %>
    <%= form.text_field :company %>
  </div>

  <div>
    <%= form.label t'app.guide.cnpj', style: "display: block" %>
    <%= form.text_field :cnpj %>
  </div>

  <div>
        <%= form.submit (@guide.new_record? ? t('app.guide.create') : t('app.guide.update'))%>
  </div>
<% end %>
