<div id="<%= dom_id guide %>">
  <p>
    <strong><%= t'app.establishment.name'%></strong>
    <%= guide.guide %>
  </p>

  <p>
    <strong><%= t'app.establishment.phone' %></strong>
    <%= guide.phone %>
  </p>

  <p>
    <strong><%= t'app.establishment.cpf' %></strong>
    <%= guide.cpf %>
  </p>

  <p>
    <strong><%= t'app.establishment.enterprise' %></strong>
    <%= guide.enterprise %>
  </p>

  <p>
    <strong><%= t'app.establishment.cnpj' %></strong>
    <%= guide.cnpj %>
  </p>

  <p>
    <strong><%= t'app.establishment.city' %></strong>
    <%= guide.city %>
  </p>

  <p>
    <strong><%= t'app.establishment.uf' %></strong>
    <%= guide.uf %>
  </p>

</div>
