<div id="<%= dom_id guide %>">
  <p>
    <strong><%= t'app.guide.name'%></strong>
    <%= guide.guide %>
  </p>

  <p>
    <strong><%= t'app.guide.phone' %></strong>
    <%= guide.phone %>
  </p>

  <p>
    <strong><%= t'app.guide.cpf' %></strong>
    <%= guide.cpf %>
  </p>

  <p>
    <strong><%= t'app.guide.enterprise' %></strong>
    <%= guide.enterprise %>
  </p>

  <p>
    <strong><%= t'app.guide.cnpj' %></strong>
    <%= guide.cnpj %>
  </p>

  <p>
    <strong><%= t'app.guide.city' %></strong>
    <%= guide.city %>
  </p>

  <p>
    <strong><%= t'app.guide.uf' %></strong>
    <%= guide.uf %>
  </p>

</div>
