<div id="<%= dom_id guide %>">
  <p>
    <strong>Guide:</strong>
    <%= guide.guide %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= guide.phone %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= guide.cpf %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= guide.address %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= guide.cep %>
  </p>

  <p>
    <strong>City:</strong>
    <%= guide.city %>
  </p>

  <p>
    <strong>Uf:</strong>
    <%= guide.uf %>
  </p>

  <p>
    <strong>Enterprise:</strong>
    <%= guide.enterprise %>
  </p>

</div>
