<p style="color: green"><%= notice %></p>

<h1><%= t 'app.index.title' %></h1>

<div id="guides">
  <% @guides.each do |guide| %>
    <%= render guide %>
    <p>
      <%= link_to t('app.index.show'), guide %>
    </p>
  <% end %>
</div>

<%= link_to t('app.index.new'), new_guide_path %>
