<p style="color: green"><%= notice %></p>

<h1><%= t 'app.guide_index.title' %></h1>

<div id="guides">
  <% @guides.each do |guide| %>
    <p>
      <%= guide.name %>
    </p>
    <p>
      <%= link_to t('app.guide_index.show'), guide %>
    </p>
  <% end %>
</div>

<div>
  <% if user_signed_in? && current_user %>
    <%= link_to t('app.guide_index.new'), new_guide_path %>
  <% end %>
  <%= link_to 'home', root_path  %>
</div>


