<div class="card has-table has-mobile-sort-spaced">
  <header class="card-header">
    <div class="card-header-title">
      <span class="icon"><i class="mdi mdi-human-child"></i></span>
      <h1><%= t 'app.guide_index.title' %></h1>
    </div>
    <a href="#" class="card-header-icon">
      <span class="icon"><i class="mdi mdi-reload"></i></span>
    </a>
  </header>

  <div class="buttons is-right">
    <div>
      <%= link_to t('app.guide_index.new'), new_guide_path, class: "button is-primary", type: "button" %>
      <span class="icon"><i class=""></i></span>
    </div>
  </div>

  <div class="card-content">
    <div id="uides">
      <div class="b-table has-pagination">
        <div class="table-wrapper has-mobile-cards">
          <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
            <thead>
            <tr>
              <th><%= t('app.guide.guide') %></th>
              <th><%= t('app.guide.phone') %></th>
              <th><%= t('app.guide.cpf') %></th>
              <th><%= t('app.guide.company') %></th>
              <th><%= t('app.guide.cnpj') %></th>
            </tr>
            </thead>
            <tbody>
            <% @guides.each do |guide| %>
              <tr>
                <td><%= guide.name %></td>
                <td><%= guide.phone %></td>
                <td><%= guide.cpf %></td>
                <td><%= guide.company %></td>
                <td><%= guide.cnpj %></td>
                <td class="is-actions-cell">
                  <div class="field is-grouped">
                    <div class="control">
                      <%= link_to guide, class: "button is-small is-info jb-modal",
                                  data: { target: 'sample-modal' } do %>
                        <span><%= t('app.guide_index.show') %></span>
                        <span class="icon is-small"><i class="mdi mdi-eye"></i></span>
                      <% end %>
                    </div>
                    <div class="control">
                      <%= link_to edit_guide_path(guide), class: "button is-small is-warning" do %>
                        <span><%= t('app.guide_edit.title') %></span>
                        <span class="icon is-small"><i class="mdi mdi-pencil"></i></span>
                      <% end %>
                    </div>
                    <div class="control">
                      <%= form_with(model: guide, url: guide_path(guide), local: true, method: :delete,
                                    data: { turbo_confirm: t('app.controller.notice_delete') }) do |form| %>
                        <%= form.button class: "button is-danger jb-modal is-small is-flex" do %>
                          <span><%= t('app.show.delete') %></span>
                          <span class="icon is-small"><i class="mdi mdi-delete"></i></span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
