<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi-human-child"></i></span>
        <h1><%= @guide.name %></h1>
      </div>
    </header>

    <div class="buttons is-right">
      <div class="field">
        <div class="field is-grouped">
          <div>
            <%= link_to edit_guide_path, class: "button is-primary" do %>
              <span><%= t('app.guide_edit.title') %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="field is-horizontal">
        <div class="field-label">
          <div class="card-content">

            <div class="field is-horizontal mt-4">
              <div class="field-label is-normal">
                <label class="label"><%= t('app.guide.guide') %></label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <%= text_field_tag :name, @guide.name, class: "input", type: "text", disabled: true %>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal mt-4">
              <div class="field-label is-normal">
                <label class="label"><%= t('app.guide.phone') %></label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <%= text_field_tag :phone, @guide.phone, class: "input", type: "text", disabled: true %>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal mt-4">
              <div class="field-label is-normal">
                <label class="label"><%= t('app.guide.cpf') %></label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <%= text_field_tag :cpf, @guide.cpf, class: "input", type: "text", disabled: true %>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal mt-4">
              <div class="field-label is-normal">
                <label class="label"><%= t('app.guide.company') %></label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <%= text_field_tag :company, @guide.company, class: "input", type: "text", disabled: true %>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal mt-4">
              <div class="field-label is-normal">
                <label class="label"><%= t('app.guide.cnpj') %></label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <%= text_field_tag :cnpj, @guide.cnpj, class: "input", type: "text", disabled: true %>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <hr>
            </div>


            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label"><%= t('app.address.address') %></label>
              </div>
              <div class="field-body">
              </div>
            </div>

            <%= form_for @guide do |form| %>
              <%= form.fields_for :address do |address_fields| %>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <%= t('app.address.street') %>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <%= address_fields.text_field :street, class: "input", type: "text", disabled: true %>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <%= t('app.address.postal_code') %>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <%= address_fields.text_field :postal_code, class: "input", type: "text", disabled: true %>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <%= t('app.address.city') %>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <%= address_fields.text_field :city, class: "input", type: "text", disabled: true %>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <%= t('app.address.state') %>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <%= address_fields.text_field :state, class: "input", type: "text", disabled: true %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
