<div id="<%= dom_id establishment %>">
  <p>
    <strong><%= t'app.establishment.name'%></strong>
    <%= establishment.name %>
  </p>

  <p>
    <strong><%= t'app.establishment.bedrooms'%></strong>
    <%= establishment.qty_bedrooms %>
  </p>

  <p>
    <strong><%= t'app.establishment.phone' %></strong>
    <%= establishment.phone %>
  </p>

  <p>
    <strong><%= t'app.establishment.site'%></strong>
    <%= establishment.site %>
  </p>
  <p>
    <strong><%= t('app.hotelier.address_street') %>:</strong>
    <%= establishment.address.street %>
  </p>

  <p>
    <strong><%= t('app.hotelier.address_postal_code') %>:</strong>
    <%= establishment.address.postal_code %>
  </p>

  <p>
    <strong><%= t('app.hotelier.address_city') %>:</strong>
    <%= establishment.address.city %>
  </p>

  <p>
    <strong><%= t('app.hotelier.address_state') %>:</strong>
    <%= establishment.address.state %>
  </p>
</div>
