
<section class="section is-main-section">
  <div class="card">
    <div id="<%= dom_id establishment %>">
      <p>
        <strong><%= t'app.establishment.name'%></strong>
        <%= establishment.name %>
      </p>

      <p>
        <strong><%= t'app.establishment.bedrooms'%></strong>
        <%= establishment.qty_bedrooms %>
      </p>

      <p>
        <strong><%= t'app.establishment.phone' %></strong>
        <%= establishment.phone %>
      </p>

      <p>
        <strong><%= t'app.establishment.site'%></strong>
        <%= establishment.site %>
      </p>

      <p>
        <%= render 'layouts/address', address: establishment.address %>
      </p>

      <p>
        <strong><%= "Hoteleiro: "%></strong>
        <%= establishment.hotelier.name %>
      </p>

      <p>
        <strong><%= "CPF: "%></strong>
        <%= establishment.hotelier.cpf %>
      </p>
    </div>

  </div>
</section>