<div id="<%= dom_id establishment %>">
  <p>
    <strong>Name:</strong>
    <%= establishment.name %>
  </p>

  <p>
    <strong>Qty bedrooms:</strong>
    <%= establishment.qty_bedrooms %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= establishment.address %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= establishment.cep %>
  </p>

  <p>
    <strong>City:</strong>
    <%= establishment.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= establishment.state %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= establishment.phone %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= establishment.site %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= establishment.owner %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= establishment.cpf %>
  </p>

</div>
