<div class="grid justify-center text-2xl w-full">
  <div id="<%= dom_id establishment %>">

  <table class="border border-collapse border-slate-500">
    <tbody>

    <tr>
      <td class="border border-slate-600"><%= t'app.establishment.name' %>:</td>
      <td class="border border-slate-600"><%= establishment.name %></td>
    </tr>

    <tr>
      <td class="border border-slate-600"><%= t'app.establishment.bedrooms'%>:</td>
      <td class="border border-slate-600"><%= establishment.qty_bedrooms %></td>
    </tr>

    <tr>
      <td class="border border-slate-600"><%= t'app.establishment.phone' %>:</td>
      <td class="border border-slate-600"><%= establishment.phone %></td>
    </tr>

    <tr>
      <td class="border border-slate-600"><%= t'app.establishment.site'%>:</td>
      <td class="border border-slate-600"><%= establishment.site %></td>
    </tr>

    <div>
      <strong></strong>

    </div>

    <div>
      <%= render 'layouts/address', address: establishment.address %>
    </div>

    <div>
      <strong><%= "Hoteleiro: "%></strong>
      <%= establishment.hotelier.name %>
    </div>

    <div>
      <strong><%= "CPF: "%></strong>
      <%= establishment.hotelier.cpf %>
    </div>
    </tbody>

  </table>
  </div>
</div>

