<div id="<%= dom_id establishment %>">
  <p>
    <strong>Name:</strong>
    <%= establishment.name %>
  </p>

  <p>
    <strong>Qty bedrooms:</strong>
    <%= establishment.qty_bedrooms %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= establishment.phone %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= establishment.site %>
  </p>

</div>
