<%= form_with(model: establishment) do |form| %>
  <% if establishment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(establishment.errors.count, "error") %> prohibited this establishment from being saved:</h2>

      <ul>
        <% establishment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t'app.establishment.name', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label t'app.establishment.bedrooms', style: "display: block" %>
    <%= form.text_field :qty_bedrooms %>
  </div>

  <div>
    <%= form.label t'app.establishment.phone', style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label t'app.establishment.site', style: "display: block" %>
    <%= form.text_field :site %>
  </div>


  <%= form.fields_for :address do |address_fields| %>
    <%= address_fields.label :street, t('app.hotelier.address_street') %>
    <%= address_fields.text_field :street %>

    <%= address_fields.label :postal_code, t('app.hotelier.address_postal_code') %>
    <%= address_fields.text_field :postal_code %>

    <%= address_fields.label :city, t('app.hotelier.address_city') %>
    <%= address_fields.text_field :city %>

    <%= address_fields.label :state, t('app.hotelier.address_state') %>
    <%= address_fields.text_field :state %>
  <% end %>

  <div>
    <%= form.submit(@establishment.new_record? ? t('app.establishment.create') : t('app.establishment.update')) %>
  </div>
<% end %>
