<%= form_with(model: establishment) do |form| %>
  <% if establishment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(establishment.errors.count, "error") %> prohibited this establishment from being saved:</h2>

      <ul>
        <% establishment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-content">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"><%= t('app.establishment.name') %></label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded has-icons-left">
            <%= form.text_field :name, class:"input", type:"text" %>
            <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"><%= t'app.establishment.bedrooms' %></label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded has-icons-left">
            <%= form.text_field :qty_bedrooms, class:"input", type:"text" %>
            <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"><%= t'app.establishment.phone' %></label>
      </div>
      <div class="field-body">
        <div class="field is-expanded">
          <div class="field has-addons">
            <div class="control">
              <div class="button is-static">
                +55
              </div>
            </div>
            <div class="control is-expanded">
              <%= form.text_field :phone, class:"input", type:"text" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"><%= t'app.establishment.site' %></label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded has-icons-left">
            <%= form.text_field :site, class:"input", type:"text" %>
            <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
          </div>
        </div>
      </div>
    </div>


  <div>
    <%= form.fields_for :address do |address_fields| %>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= t('app.address.street') %>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded has-icons-left">
              <%= address_fields.text_field :street, class:"input", type:"text" %>
              <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= t('app.address.postal_code') %>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded has-icons-left">
              <%= address_fields.text_field :postal_code, class:"input", type:"text" %>
              <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= t('app.address.city') %>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded has-icons-left">
              <%= address_fields.text_field :city, class:"input", type:"text" %>
              <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= t('app.address.state') %>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded has-icons-left">
              <%= address_fields.text_field :state, class:"input", type:"text" %>
              <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Hoteleiro</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="select is-fullwidth">
        <%= form.select :hotelier_id, options_from_collection_for_select(Hotelier.all, :id, :name, establishment.hotelier_id),
                        prompt: "Hoteleiro" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field-body">
        <div class="field">
          <div class="field is-grouped">
            <div>
              <%= form.submit(@establishment.new_record? ? t('app.establishment.create') : t('app.establishment.update'),
                              class:"button is-primary")%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
