<p style="color: green"><%= notice %></p>

<h1><%= t 'app.index.title' %></h1>

<div id="establishments">
  <% @establishments.each do |establishment| %>
    <p><%= t('app.establishment.name') %>:<%= establishment.name %></p>
    <p>
      <%= link_to t('app.index.show'), establishment %>
    </p>
  <% end %>
</div>

<%= link_to t('app.index.new'), new_establishment_path %>
