<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        <h1><%= @establishment.name %></h1>
      </div>
    </header>
    <div class="card-content">
      <div class="field is-horizontal">
        <div class="field-label">
          <div class="card-content">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label"><%= t('app.establishment.name') %></label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded has-icons-left">
                    <%= text_field_tag :name, @establishment.name, class: "input", type: "text", disabled: true %>
                    <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label"><%= t 'app.establishment.bedrooms' %></label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded has-icons-left">
                    <%= text_field_tag :name, @establishment.qty_bedrooms, class: "input", type: "text", disabled: true %>
                    <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label"><%= t 'app.establishment.phone' %></label>
              </div>
              <div class="field-body">
                <div class="field is-expanded">
                  <div class="field has-addons">
                    <div class="control">
                      <div class="button is-static">
                        +55
                      </div>
                    </div>
                    <div class="control is-expanded">
                      <%= text_field_tag :name, @establishment.phone, class: "input", type: "text", disabled: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label"><%= t 'app.establishment.site' %></label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded has-icons-left">
                    <%= text_field_tag :name, @establishment.site, class: "input", type: "text", disabled: true %>
                    <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <%= form_for @establishment do |form| %>
              <%= form.fields_for :address do |address_fields| %>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label"><%= t('app.address.street') %></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded has-icons-left">
                        <%= address_fields.text_field :street, class: "input", type: "text", disabled: true %>
                        <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label"><%= t('app.address.postal_code') %></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded has-icons-left">
                        <%= address_fields.text_field :postal_code, class: "input", type: "text", disabled: true %>
                        <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label"><%= t('app.address.city') %></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded has-icons-left">
                        <%= address_fields.text_field :city, class: "input", type: "text", disabled: true %>
                        <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label"><%= t('app.address.state') %></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded has-icons-left">
                        <%= address_fields.text_field :state, class: "input", type: "text", disabled: true %>
                        <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Hoteleiro</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded has-icons-left">
                    <%= text_field_tag :name, @establishment.hotelier.name, class: "input", type: "text", disabled: true %>
                    <span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>