<p>
  <strong><%= t('app.address.street') %>:</strong>
  <%= addressable.street %>
</p>

<p>
  <strong><%= t('app.address.postal_code') %>:</strong>
  <%= address.postal_code %>
</p>

<p>
  <strong><%= t('app.address.city') %>:</strong>
  <%= address.city %>
</p>

<p>
  <strong><%= t('app.address.state') %>:</strong>
  <%= address.state %>
</p>