<!DOCTYPE html>
<html>
  <head>
    <title>FacilFacilHospedagem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="container mx-auto pt-4">
    <%= render 'layouts/navbar'%>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
